.profileStyle {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 45px;
    align-items: center;
    justify-content: center;
    width: 85%;
    margin: 100px auto;
}

.userPhoto {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid blue;
    padding: 5px;
}

.updateInformation {
    width: 60%;
    padding: 20px;
}

@media only screen and (max-width: 800px) {
    .updateInformation {
        width: 100%;
        margin-top: 100px;
        margin-bottom: 50px;
    }
}